requests
parsel
google-search-results
pandas
langchain
openai
pyarrow
fastparquet
sentence-transformers
pinecone-client
google-generativeai
Faker
streamlit
fpdf
streamlit-option-menu
plotly
nbformat
streamlit-metrics
streamlit-card
streamlit-aggrid
python-dotenv
transformers==4.11.3