requests
parsel
google-search-results
pandas
langchain
openai
pyarrow
fastparquet
sentence-transformers
pinecone-client
Faker
streamlit
streamlit-option-menu
plotly
nbformat
streamlit-metrics
streamlit_extras
streamlit-card
streamlit-aggrid
python-dotenv
#transformers==4.11.3
